body {
	margin-top: 100px;
}

#liste_produits {
	width: 80%;
	margin-left: 10%;
	border: none;
	border-collapse: collapse;
}

.image_param {
	height: 100px;
}

.infos > th {
	font-size: 24px;
	padding: 5px;
	text-decoration: none;
	font-family: arial;
}

.infos{
	border-bottom: 1px black solid;
}

.elements {
	font-size: 20px;
	font-family: arial;
	padding: 5px;
	text-align: center;
	transition: all 2s;
	border-bottom: 1px black solid;
}

.elements:hover {
	  background-image: linear-gradient(to right, #ffffff, #f9f8f9, #f4f0f3, #f0e8ea, #ece1e1);
}

.achat > a, .details > a {
	text-decoration: none;
	color:black;
	padding: 40px;
	transition: all 2s;
}

.achat > a:hover, .details > a:hover {
	background-color: red;
}

#line {
	width:100%; 
	height:10px; 
	background: #456;
}









#menu {
	margin: 0;
	background-image: linear-gradient(to right, #427acd, #8159b2, #a23081, #a70044, #900000);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	list-style: none;
	width: 100%;
	height: 68px;
}

#menu a {
	text-decoration: none;
	color: white;
}

.menu_button {
	padding: 20px;
	transition: all 0.3s ease-out;
	color: white;
	font-size: 25px;
	font-family: arial;
	animation-name: bounce;
	animation-duration: 1s;
}

.menu_button:hover {
	background-color: rgba(236, 222, 219, 0.5);
	color: black;
}


#menu_button_connect {
	position: fixed;
	right:5vw;
}


.sub_menu {
	display:none;
	margin: 0px;
	padding: 10px;
}

.sub_menu a {
	list-style: none;
	text-decoration: none;
}

.sub_menu  li {
	margin-top: 5px;
	color: black;
}

.menu_button:hover > .sub_menu {
	display: block;
}




@keyframes bounce{
    from {transform: rotateY(0deg);}
    to  {transform: rotateY(360deg);}
}